[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysql]
# -F выходит из less, если всё помещается на один экран
# -i ignore case для поиска
# -n убирает номера строк
# -X не очищает экран после выхода из less, что в консоли бывает полезно — видно результаты предыдущего запроса
# -R пробрасывает цвета, если перед less срабатывает раскраска
pager  = less -FSinXR


prompt=\\u@\\h [\\d]>\\_